.cond__bank__header {
    height: 100px;
    width: 1904px;
    
}

.cond__bank__header__logo {
    height: 70px;
    width: 100px;
    padding: 25px 30px;
    float: left;
}

.cond__bank__header__text {
    width: 800px;
    height: 38px;
    float: left;
    padding: 5px 0px;
    font-family: 'Lato-Regular',Arial, Helvetica, sans-serif;
}

.cond__bank__content {
    height: 600px;
    width: 800px;
    padding: 0px 0px 0px 30px;
}

.body {
    font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.woff');
}

.cond__previous__button {
    font-size: 15px;
    background-color: #2a88ce;
    border-radius: 5px;
    font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
    float: right;
    padding: 5px 5px;
}

.cond__next__button {
    font-size: 15px;
    background-color: #2a88ce;
    border-radius: 5px;
    font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
    float: right;
    padding: 5px 5px;
}

.cond__cancel__button {
    font-size: 15px;
    background-color: #2a88ce;
    border-radius: 5px;
    font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
    float: right;
    padding: 5px 5px;
}