cond__finances__header {
    height: 100px;
    width: 1904px;
    
}

.cond__finances__header__logo {
    height: 70px;
    width: 100px;
    padding: 25px 30px;
    float: left;
}

.cond__finances__header__text {
    width: 450px;
    height: 38px;
    float: left;
    padding: 5px 0px;
    font-family: 'Lato-Regular';
}

.cond__finances__content {
    height: 600px;
    width: 800px;
    padding: 0px 0px 0px 30px;
}

.cond__finances__fields__ar {
    font-family: 'Lato-Regular';
}

.cond__finances__fields__tx {
    font-family: 'Lato-Regular';
}

.cond__finances__fields__ind {
    font-family: 'Lato-Regular';
}

.cond__finances__fields__pay {
    font-family: 'Lato-Regular';
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.woff');
}

.cond__previous__button {
    font-size: 15px;
    background-color: #2a88ce;
    border-radius: 5px;
    font-family: 'Lato-Regular';
    float: right;
    padding: 5px 5px;
}

.cond__next__button {
    font-size: 15px;
    background-color: #2a88ce;
    border-radius: 5px;
    font-family: 'Lato-Regular';
    float: right;
    padding: 5px 5px;
}

.cond__cancel__button {
    font-size: 15px;
    background-color: #2a88ce;
    border-radius: 5px;
    font-family: 'Lato-Regular';
    float: right;
    padding: 5px 5px;
}